@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.box {
  width: 280px;
  height: 400px;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
  text-align:center;
}

.box h1 {
  text-align: left;
}

.bar-btn {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.bar-btn:hover {background-color: #f0f0f0}

hr.solid {
  border-top: 2px solid #bbb;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
}

.btn-div {
  padding-top: 5%;
}
.btn {
  cursor: pointer;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.btn:hover {background-color: #f0f0f0}

.hidden {
  display: none;
}

.submit {
  width: 30%;
}